<!DOCTYPE html>
<html>
   <head>
      <title>Todo App</title>
      <link rel="stylesheet" type="text/css" href="/styles/index.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
   </head>
<body>
   <div class="container">
      <h1>To Do App</h1>
      <h2>Enter your tasks here</h2>
      <form method="POST" action="/" >
         <input type="text" name="task" autocomplete="off" id="task" required>
         <button type="submit" id="submit">Add Task</button>
      </form>
       <div id="tasks_container">
         <ul>
           
            <% for(var i = 0; i < items.length; i++) { %>
               <li><%= items[i].task %></li>
               <a href="/<%= items[i].task_id %>"><i class="fa fa-trash"></i></a>
           <% } %>
         </ul>
      </div> 
   </div>
</body>
