
body {
    min-width: 60%;
    width: 80%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.container {
    background-color: lightblue;
    padding: 2%
}
h1 {
    color: navy;
}
#task {
    padding: 1% 2%;
    border-color: navy;
}
input:focus, input:active {
    outline: none;
    border: 1px solid #f5f5f5;
}
input {
    width: 80%;
    border-radius: 5px;
    border: 1px solid #f5f5f5 !important;
}
ul {
    padding: 0px;
}
#tasks_container ul li {
    list-style: none;
    width: 80%;
    display: inline-block;
    font-size: 18px;

}
#tasks_container ul li a {
    display: block;
}
#submit {
    padding: 1% 2%;
    border-color: navy;
    background-color: navy;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}